<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="icon" type="image/x-icon" href="../images/weather.svg" />
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <div id="header">
      <img src="images/weather.svg" alt="weather_icon" />
      <h1>Weather App</h1>
    </div>
    <div class="box" id="error_box">
      <img src="images/error.svg" alt="404error" id="error" />
      <div id="error_message">
        <h1>404 ERROR</h1>
        <h3>Sorry! The page you are looking for does not exist.</h3>
        <button id="back">
          <a href="/">GO BACK</a>
        </button>
      </div>
    </div>
  </body>
</html>